[buildout]
parts = 
    instance
    omelette
    test

extends = http://dist.plone.org/release/4.0-latest/versions.cfg

index = http://pypi.bluedynamics.eu  

find-links = 
    http://effbot.org/downloads   

versions = versions

develop = .

unzip = true

[test]
recipe = zc.recipe.testrunner
eggs = 
    bda.plone.mdb[test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    Pillow
    bda.plone.mdb[contenttype]
    plone.reload
    
zcml = 
    bda.plone.mdb.contenttype
